

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: rgb(46, 46, 46);
}

/* --> DESKTOP BEREICH <-- */

.bg_top {
    height: 4.5rem;
    width: 100%;
    background-color: rgb(37, 37, 37);
    border-bottom: 1px solid #000;
}

.bg_top li {
    list-style-type: none;
}

/* Die Seitenbuttons im Navibarbereich */
.bg_top button {
    background-color: rgb(148, 96, 0);
    color: antiquewhite;
    border: 1px solid #FFF;
    border-radius: 14%;
    width: 120px;
    height: 30px;
    margin-left: 10px;
    transition: background-color 0.3s, font-weight 0.3s;
}

.bg_top ul{
    margin-left: 36%;
    margin-right: auto;
}

.bg_top button.momentan {
    background-color: red;
}

.bg_top ul li button a{
    list-style-type: none;
    margin-left: 0.5rem;
    text-decoration: none;
}

.bg_top ul li button a:visited {
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0px;
    padding: 0px;
}

h3 {
    color: #FFF;
    position: relative;
    left: 25px;
}

/* Der Text zum absenden */
.container_absenden{
    width: 35%;
    margin-left: 36%;
    margin-right: auto;
    position: relative;
}

.forum_text{
    margin-left: 10%;
    border: 1px solid orange;
}

/* Die beiden Knopfe zum abfeuern / löschen */
.forum_knopf{
    margin-top: 2px;
    margin-bottom: 8px;
    margin-left: 20%;
    background-color: rgb(1, 126, 1);
    color: #000;
    font-weight: bold;
    border: 1px solid rgb(0, 41, 0);
    transition: background-color 0.5s, text-shadow 0.5s;
}

.forum_delete {
    background-color: rgb(150, 0, 0);
    color: #FFF;
    font-weight: bold;
    transition: background-color 0.5s, text-shadow 0.5s;
}

/* Der Teil, der den abgefeuerten Text einspeichert */
.container_sammler{
    margin-left: 37%;
    margin-right: auto;
    margin-top: 10px;
}

/* Der neu erstelle Auslogknopf in JS wegen dem trainsition angesprochen */

.auslog_knopf_css {
    transition: width 0.2s, font-size 0.2s, color 0.2s, background-color 0.2s;
}

/* Mobile_First aber anders herum gedreht */

/* Neuer Display_Button wegen Burger-menu */
#display_knopf {
    display: none;
    position: relative;
}

@media screen and (max-width: 600px) {

    /* Oberer Bereich */

    #display_knopf {
        display: block;
        width: 180px;
        height: 40px;
        margin-left: 25%;
        margin-top: 0.1rem;
    }

    .bg_top {
        padding-top: 0.8rem;
        height: 4rem;
    }

    .bg_top ul{
        margin-left: 0.5%;
        margin-right: auto;
        display: none;
    }

    .bg_top li {
        margin-bottom: 4px;
    }

    .bg_top button {
        width: 180px;
        height: 40px;
    }

    h3 {
        display: none;
    }
    
    /* Forumteil verschieben in Mobilversion */

    .container_absenden{
        right: 70px;
        top: 30px;
    }

    .forum_knopf{
        position: absolute;
        top: 180px;
        margin-top: 0px;
        margin-left: 0px;
        left: -50px;
        width: 100px;
        height: 40px;
        background-color: rgb(24, 255, 24);
    }

    .forum_delete{
        position: absolute;
        top: 180px;
        margin-top: 0px;
        margin-left: 0px;
        left: 150px;
        width: 100px;
        height: 40px;
        background-color: rgb(255, 18, 18);
    }
}