

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: rgb(46, 46, 46);
}

/* --> DESKTOP BEREICH <-- */

.bg_top {
    height: 4.5rem;
    width: 100%;
    background-color: rgb(37, 37, 37);
    border-bottom: 1px solid #000;
}

.bg_top li {
    list-style-type: none;
}

/* Die Seitenbuttons im Navibarbereich */
.bg_top button {
    background-color: rgb(148, 96, 0);
    color: antiquewhite;
    border: 1px solid #FFF;
    border-radius: 14%;
    width: 120px;
    height: 30px;
    margin-left: 10px;
    transition: background-color 0.3s, font-weight 0.3s;
}

.bg_top ul{
    margin-left: 36%;
    margin-right: auto;
}

.bg_top button.momentan {
    background-color: red;
}

.bg_top ul li button a{
    list-style-type: none;
    margin-left: 0.5rem;
    text-decoration: none;
}

.bg_top ul li button a:visited {
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0px;
    padding: 0px;
}

h3 {
    color: #FFF;
    position: relative;
    left: 25px;
}

/* Der Text zum absenden */
.container_absenden{
    width: 35%;
    border-bottom: 1px solid #FFF;
    margin-left: 36%;
    margin-right: auto;
}

.forum_text{
    margin-left: 10%;
    border: 1px solid orange;
}

/* Die beiden Knopfe zum abfeuern / löschen */
.forum_knopf{
    margin-top: 2px;
    margin-bottom: 8px;
    margin-left: 20%;
    color: #000;
    font-weight: bold;
    border: 1px solid rgb(0, 41, 0);
    transition: background-color 0.5s, text-shadow 0.5s;
}

.forum_delete {
    color: #FFF;
    font-weight: bold;
    transition: background-color 0.5s, text-shadow 0.5s;
}

/* Der Teil, der den abgefeuerten Text einspeichert */
.container_sammler{
    margin-left: 37%;
    margin-right: auto;
    margin-top: 10px;
}

/* Der neu erstelle Auslogknopf in JS wegen dem trainsition angesprochen */

.auslog_knopf_css {
    transition: width 0.2s, font-size 0.2s, color 0.2s, background-color 0.2s;
}

/* Die responsive Funktion sobald Desktopgröße erreicht wurde */
@media screen and (min-width: 600px) {

    .bg_top button:hover {
        background-color: #000;
        cursor: pointer;
        font-weight: bold;
    }
    
    .bg_top ul {
        display: flex;
        position: absolute;
        top: 0.5rem;
    }

    .forum_knopf{
        width: 87px;
        height: 30px;
        background-color: rgb(29, 124, 0);
    }

    .forum_knopf:hover{
        cursor: pointer;
        text-transform: uppercase;
        background-color: rgb(60, 255, 0);
        text-shadow: 0 1px rgba(255, 255, 255, 0.3);
        /* color: rgb(241, 0, 189); RGB Farben zum Testen */
    }

    .forum_delete{
        width: 87px;
        height: 30px;
        background-color: rgb(122, 4, 4);
    }

    .forum_delete:hover{
        cursor: pointer;
        text-transform: uppercase;
        background-color: rgb(255, 0, 0);
        text-shadow: 0 0 0.5px rgb(255, 255, 255);
    }

    /* BG Switcher */

    .bg_switcher{
    background-color: #FFF;
    border-radius: 30%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 160px;
    height: 30px;
    }

    .bg_switcher:hover{
    cursor: pointer;
    background-color: #000;
    color: #FFF;
    }
    
    }
    
