* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: rgb(46, 46, 46);
}

/* --> DESKTOP BEREICH <-- */

.bg_top {
    height: 4.5rem;
    width: 100%;
    background-color: rgb(37, 37, 37);
    border-bottom: 1px solid #000;
}

.bg_top li {
    list-style-type: none;
}

/* Profil_Button */
.profil_ul{
    position: absolute;
    z-index: 2;
    top: 17px;
    right: 10px;
    width: 60px;
    height: 40px;
    background-color: rgb(145, 160, 12);
    border: 2px solid #000;
    filter: brightness(90%);
    transition: filter 0.3s;
}

.profil_ul:hover{
    cursor: pointer;
    filter: brightness(110%);
}

/* Ausklapp Menu unter Profil_Button */
.ausklap_menu{
    position: absolute;
    width: 60px;
    height: 0px;
    border: 2px solid #000;
    background-color: yellow;
    right: 10px;
    top: 52px;
}

/* Test ob das Menü langsam rausgefahren wird */

.profil_sichtbar{
    height: 90px;
    transition: height 1s;
}

.profil_unsichtbar{
    height: 0px;
    transition: height 1s;
}



.logout{
    position: absolute;
    left: 10px;
    bottom: 5px;
    width: 40px;
    height: 20px;
    background-color: red;
    filter: brightness(80%);
    transition: filter 0.3s;
}

.logout:hover{
    cursor: pointer;
    filter: brightness(100%);
}

.switchButton_left{
    position: absolute;
    left: 10px;
    top: -20px;
    width: 40px;
    height: 20px;
    background-color: blue;
    filter: brightness(70%);
    transition: filter 0.3s;
    color: #000;
}

/* Test mit dem rausfahren von Menü */

/* Die Klassen werde für den ausfahr / einfahr Effekt vom Menü benötigt */
.switch_left_sichtbar{
    top: 5px;
    transition: top 0.5s;
}

.switch_left_unsichtbar{
    top: -20px;
    transition: top 0.5s;
}

.switchButton_left:hover{
    cursor: pointer;
    filter: brightness(100%);
}

.switchButton_right{
    position: absolute;
    left: 10px;
    top: -20px;
    width: 40px;
    height: 20px;
    background-color: pink;
    filter: brightness(70%);
    transition: filter 0.3s;
    color: #000;
}

.switchButton_right:hover{
    cursor: pointer;
    filter: brightness(100%);
}

.switch_right_sichtbar{
    top: 35px;
    transition: top 1s;
}

.switch_right_unsichtbar{
    top: -20px;
    transition: top 0.7s;
}

/* Die Seitenbuttons im Navibarbereich */
.bg_top button {
    background-color: rgb(148, 96, 0);
    color: antiquewhite;
    border: 1px solid #FFF;
    border-radius: 14%;
    width: 120px;
    height: 30px;
    margin-left: 10px;
    transition: background-color 0.3s, font-weight 0.3s;
}

.bg_top ul{
    margin-left: 25%;
    margin-right: auto;
}

.bg_top button.momentan {
    background-color: red;
}

.bg_top ul li button a{
    list-style-type: none;
    margin-left: 0.5rem;
    text-decoration: none;
}

.bg_top ul li button a:visited {
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0px;
    padding: 0px;
}

h3 {
    color: #FFF;
    position: relative;
    left: 25px;
    display: inline-block;
}

/* Das Login / Create Form im Mainbereich */

#create label {
    color: antiquewhite;
}

#name {
    border: 1.5px solid #000;
    margin-bottom: 10px;
    height: 25px;
    width: 182px;
}

#passwort_login {
    height: 25px;
    border: 1px solid #000;
    font-weight: bold;
}

/* Der neu erstelle Auslogknopf in JS wegen dem trainsition angesprochen */

.auslog_knopf_css {
    transition: width 0.2s, font-size 0.2s, color 0.2s, background-color 0.2s;
}

/* Die responsive Funktion sobald Desktopgröße erreicht wurde */
@media screen and (min-width: 600px) {

/* Der Erstellbutton */
#login {
    position: absolute;
    margin-bottom: 5px;
    margin-top: 15px;
    width: 150px;
    height: 20px;
    left: 15px;
    background-color: #181818;
    color: #FFF;
    transition: background-color 0.3s, font-weight 0.3s, width 0.3s, height 0.3s;;
}

#create {
    position: relative;
    border-bottom: 1px solid #000;
    margin-left: 50%;
    margin-right: 50%;
} 

#login:hover {
    cursor: pointer;
    background-color: #5e0606;
    font-weight: bold;
    width: 180px;
    height: 30px;
}

.bg_top button:hover {
    background-color: #000;
    cursor: pointer;
    font-weight: bold;
}

.bg_top ul {
    display: flex;
    position: absolute;
    top: 0.5rem;
}

/* BG Switcher */

.bg_switcher{
    background-color: #FFF;
    border-radius: 30%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 160px;
    height: 30px;
}

.bg_switcher:hover{
    cursor: pointer;
    background-color: #000;
    color: #FFF;
}
}

/* !! TESTBEREICH !! */

/* -- QUIZBEREICH -- */

.quiz_container{
    width: 200px;
    height: 200px;
    position: relative;
    top: 150px;
    left: 300px;
    border: 2px solid #000;
}

.quiz_container h3{
    position: absolute;
    display: inline-block;
    left: 4px;
}

/* Oberer Bereich */
.oberer_bereich{
    width: 196px;
    height: 50px;
    background-color: rgb(0, 59, 168);
    position: relative;
    border-bottom: 0.5px solid #181818;
}

.quiz_timer_box{
    width: 40px;
    height: 20px;
    background-color: rgb(0, 187, 187);
    position: relative;
    width: 44px;
    height: 22px;
    left: 146px;
    bottom: -12px;
    border-radius: 15%;
}

.quiz_timer{
    display: inline-block;
    color: #FFF;
    position: absolute;
    top: -24px;
    left: 12px;
    font-size: 1.4em;
}

/* Mittlerer Bereich */
.mittlerer_bereich{
    width: 196px;
    height: 100px;
    background-color: rgb(0, 85, 241);
    position: relative;
    border-bottom: 0.5px solid #000;
}

.fragen{
    color: #FFF;
    font-size: 1.2em;
    position: absolute;
    top: -16px;
    left: 44px;
}

/* Unterer Bereich */
.unterer_bereich{
    width: 196px;
    height: 46px;
    background-color: rgb(0, 59, 168);
    position: relative;
}

.quiz_anzahl_counter{
    display: inline-block;
    position: absolute;
    margin-bottom: 0px;
    left: 5px;
    bottom: 14px;
    color: #FFF;
    font-size: 1.2em;
}

.next{
    position: absolute;
    right: 6px;
    bottom: 12px;
    background-color: rgb(0, 187, 187);
    border: none;
    border-radius: 15%;
    width: 42px;
    height: 22px;
}

.next:hover{
    cursor: pointer;
}
