* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: rgb(46, 46, 46);
}

/* --> DESKTOP BEREICH <-- */

.bg_top {
    height: 4.5rem;
    width: 100%;
    background-color: rgb(37, 37, 37);
    border-bottom: 1px solid #000;
}

.bg_top li {
    list-style-type: none;
}

/* Profil_Button */
.profil_ul{
    position: absolute;
    z-index: 2;
    top: 17px;
    right: 20px;
    width: 60px;
    height: 40px;
    background-color: rgb(145, 160, 12);
    border: 2px solid #000;
    filter: brightness(90%);
    transition: filter 0.3s;
}

.profil_ul:hover{
    cursor: pointer;
    filter: brightness(110%);
}

/* Ausklapp Menu unter Profil_Button */
.ausklap_menu{
    position: absolute;
    width: 60px;
    height: 0px;
    border: 2px solid #000;
    background-color: yellow;
    right: 20px;
    top: 52px;
}

/* Test ob das Menü langsam rausgefahren wird */

.profil_sichtbar{
    height: 90px;
    transition: height 1s;
}

.profil_unsichtbar{
    height: 0px;
    transition: height 1s;
}

.logout{
    position: absolute;
    left: 10px;
    bottom: 5px;
    width: 40px;
    height: 20px;
    background-color: red;
    filter: brightness(80%);
    transition: filter 0.3s;
}

.logout:hover{
    cursor: pointer;
    filter: brightness(100%);
}

.switchButton_left{
    position: absolute;
    left: 10px;
    top: -20px;
    width: 40px;
    height: 20px;
    background-color: blue;
    filter: brightness(70%);
    transition: filter 0.3s;
    color: #000;
}

/* Test mit dem rausfahren von Menü */

/* Die Klassen werde für den ausfahr / einfahr Effekt vom Menü benötigt */
.switch_left_sichtbar{
    top: 5px;
    transition: top 0.5s;
}

.switch_left_unsichtbar{
    top: -20px;
    transition: top 0.5s;
}

.switchButton_left:hover{
    cursor: pointer;
    filter: brightness(100%);
}

.switchButton_right{
    position: absolute;
    left: 10px;
    top: -20px;
    width: 40px;
    height: 20px;
    background-color: pink;
    filter: brightness(70%);
    transition: filter 0.3s;
    color: #000;
}

.switchButton_right:hover{
    cursor: pointer;
    filter: brightness(100%);
}

.switch_right_sichtbar{
    top: 35px;
    transition: top 1s;
}

.switch_right_unsichtbar{
    top: -20px;
    transition: top 0.7s;
}

/* Die Seitenbuttons im Navibarbereich */
.bg_top button {
    background-color: rgb(148, 96, 0);
    color: antiquewhite;
    border: 1px solid #FFF;
    border-radius: 14%;
    width: 120px;
    height: 30px;
    margin-left: 10px;
    transition: background-color 0.3s, font-weight 0.3s;
}

.bg_top ul{
    margin-left: 18%;
    margin-right: auto;
}

.bg_top button.momentan {
    background-color: red;
}

.bg_top ul li button a{
    list-style-type: none;
    margin-left: 0.5rem;
    text-decoration: none;
}

.bg_top ul li button a:visited {
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0px;
    padding: 0px;
}

h3 {
    color: #FFF;
    position: relative;
    left: 25px;
    display: inline-block;
}

/* Der neu erstelle Auslogknopf in JS wegen dem trainsition angesprochen */

.auslog_knopf_css {
    transition: width 0.2s, font-size 0.2s, color 0.2s, background-color 0.2s;
}

/* Die responsive Funktion sobald Desktopgröße erreicht wurde */
@media screen and (min-width: 600px) {

/* Das Score_System auf der Page */
.score_on_page{
    position: absolute;
    z-index: 2;
    top: 17px;
    right: 100px;
    width: 60px;
    height: 40px;
    background-color: purple;
    border: 0.5px solid #000;
    font-size: 2em;
    color: #FFF;
    text-align: center;
}

.bg_top button:hover {
    background-color: #000;
    cursor: pointer;
    font-weight: bold;
}

.bg_top ul {
    display: flex;
    position: absolute;
    top: 0.5rem;
}

/* BG Switcher */

.bg_switcher{
    background-color: #FFF;
    border-radius: 30%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 160px;
    height: 30px;
}

.bg_switcher:hover{
    cursor: pointer;
    background-color: #000;
    color: #FFF;
}
}

/* !! TESTBEREICH !! */

/* -- QUIZBEREICH -- */

.quiz_container{
    width: 200px;
    height: 220px;
    position: relative;
    top: 150px;
    left: 300px;
}

.quiz_container h3{
    position: absolute;
    display: inline-block;
    left: 4px;
}

/* Oberer Bereich */
.oberer_bereich{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 59, 168);
    position: relative;
    border: 0.5px solid #000;
    border-bottom: none;
}

.quiz_timer_box{
    width: 40px;
    height: 20px;
    background-color: rgb(0, 187, 187);
    position: relative;
    width: 44px;
    height: 22px;
    left: 146px;
    bottom: -12px;
    border-radius: 15%;
}

.quiz_timer{
    display: inline-block;
    color: #FFF;
    position: absolute;
    top: -24px;
    left: 12px;
    font-size: 1.4em;
}

/* Mittlerer Bereich */
.mittlerer_bereich {
    width: 100%;
    background-color: rgb(0, 85, 241);
    position: relative;
    border: 0.5px solid #000;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert den Inhalt horizontal */
    padding-bottom: 10px; /* Platz am unteren Rand */
    margin: 0 auto;
}

.fragen {
    color: #FFF;
    font-size: 1.2em;
    margin-bottom: 10px; /* Platz zwischen Frage und Antworten */
    margin-left: auto;
    margin-right: auto;
}

.antworten {
    color: #FFF;
    width: 100px;
    display: flex;
    flex-direction: column;
}

/* Unterer Bereich */
.unterer_bereich {
    width: 100%;
    height: 46px;
    background-color: rgb(0, 59, 168);
    border: 0.5px solid #000;
    display: flex;
    justify-content: space-between; /* Platziert die Elemente gleichmäßig horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal */
    padding: 10px;
}

.quiz_anzahl_counter {
    color: #FFF;
    font-size: 1.2em;
}

.next {
    background-color: rgb(0, 187, 187);
    border: none;
    border-radius: 15%;
    width: 42px;
    height: 22px;
}

.next:hover {
    cursor: pointer;
}

.antworten button:hover{
    cursor: pointer;
}

.markiert{
    background-color: yellow;
}

/* USER_FRAGEN */

#frageEingabe {
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    border: 0.5px solid #b66d0d;
    left: 700px;
    top: -90px;
    color: #FFF;
    padding: 10px;
    width: 250px;
    height: 23rem;
}

#frage {
    text-align: center;
}

.user_input_question{
    position: absolute;
    left: 40px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input, select {
    margin-bottom: 10px;
}

.user_fragen{
    position: relative;
    right: -650px;
}

.question_add_button{
    position: absolute;
    bottom: -45px;
    border-radius: 15%;
    width: 120px;
    height: 40px;
    margin-left: 30px;
}

.question_add_button:hover{
    cursor: pointer;
    background-color: #b66d0d;
}

/* Knopf um User_antworten überhaupt zu erstellen - löschen */

.answer_add_button{
    position: absolute;
    bottom: -90px;
    border-radius: 15%;
    width: 120px;
    height: 40px;
    margin-left: 30px;
}

.answer_add_button:hover{
    cursor: pointer;
    background-color: #b66d0d;
}

.answer_delete_button{
    position: absolute;
    bottom: -135px;
    border-radius: 15%;
    width: 120px;
    height: 40px;
    margin-left: 30px;
}

.answer_delete_button:hover{
    cursor: pointer;
    background-color: #b66d0d;
}

/* Antwortfelder von User */

.antwort{
    text-align: center;
}

