* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #f0f0f0;
}

/* It's Mobil-First, so i started with the smaller screens first */

/* Header Area */
header{
    background-color: #6ed7f3;
    width: 100%;
    height: 4rem;
    border-bottom: 0.3rem #000 solid;
    padding-top: 0.3rem;
    transition: all 0.8s;
}

.header_headline{
    height: 3rem;
    width: 80%;
    background-color: #0088f6;
    border: 0.1rem #FFF solid;
    text-align: center;
    padding-top: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.8s;
}

.header_blocks_default{
    height: 0px;
    width: 0%;
    background-color: #0088f6;
    border: 0.1rem #FFF solid;
    text-align: center;
    padding-top: 0.3rem;
    margin-top: -8rem;
    transition: all 0.7s;
}

.header_blocks_default p, .header_headline p{
    margin: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
}

.desktop_index{
    display: none;
}

/* Main Area */
body {
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

.main_blocks{
    height: 12rem;
    background-color: #fff;
    border: 0.1rem #000 solid;
    margin-top: 2rem;
    text-align: center;
    padding-top: 15%;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    transition: all 0.3s;
}

/* .main_blocks p{
    margin: 0px;
} */

.acc_icons{
    display: inline;
    margin-left: 0.7rem;
    margin-right: 0.8rem;
}

.create_form{
    font-size: 1.1rem;
    display: none;
}

.create_form button{
    margin-top: 1rem;
}

/* Footer Area */
footer{
    height: 4rem;
    width: 100%;
    background-color: #000000;
    margin-top: 3rem;
    padding-top: 0.7rem;
    text-align: center;
    border-top: 0.5rem #2e2e2e solid;
}

footer p{
    color: #FFF;
    font-size: 1.5rem;
    margin: 0px;
}


/* ---- If the Header_Button is pressed ---- */
header.pressed{
    height: 22rem;
}

.header_headline_pressed{
    background-color: rgb(247, 178, 51);
}

.pressed_header_blocks{
    height: 3rem;
    width: 80%;
    margin-top: 2rem;
    margin: 2rem auto 0px;
}

.main_container.pressed_div, .footer_pressed{
    filter: blur(1rem);
}

/* !--- BREAKPOINT FOR MEDIUM_SIZE --! */

@media (min-width: 992px) {
    .flex_container{
        display: flex;
        justify-content: center;
    }

    .header_headline{
        display: none;
    }

    .desktop_index{
        display: block;
        padding-top: 0.5rem;
    }

    .header_blocks_default{
        height: 2.8rem;
        width: 12rem;
        margin-top: 0px;
        margin-left: 1rem;
    }

    .header_blocks_default:hover{
        cursor: pointer;
        background-color: rgb(0, 0, 0);
    }

    .position_website{
        background-color: rgb(0, 0, 0);
    }

    .position_website p{
        color: #ffffff;
    }

    .main_container{
        display: flex;
        justify-content: center;
        gap: 8rem;
        margin: 2rem;
    }

    .main_blocks{
        width: 40%;
        height: 13rem;
        padding-top: 8%;
    }

    .main_blocks:hover{
        cursor: pointer;
        background-color: #0088f6;
        color: #FFF;
    }

}

/* !--- BREAKPOINT FOR BIGGER_SIZE --! */

@media (min-width: 1920px){
    .main_blocks{
        width: 30%;
        height: 13rem;
        padding-top: 3%;
    }

}