* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #f0f0f0;
}

/* It's Mobil-First, so i started with the smaller screens first */

/* Header Area */
header{
    margin: 0px;
    padding: 0px;
    background-color: #6ed7f3;
    width: 100%;
    height: 4rem;
    border-bottom: 0.3rem #000 solid;
    padding-top: 0.3rem;
    transition: all 0.8s;
}

.header_headline{
    transition: all 0.8s;
}

header div{
    width: 80%;
    height: 3rem;
    background-color: #0088f6;
    margin-left: auto;
    margin-right: auto;
    border: 0.1rem #FFF solid;
    text-align: center;
    padding-top: 0.7rem;
}

header div p{
    margin: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
}

.header_blocks_default{
    margin-top: -8rem;
    width: 0%;
    height: 0px;
    transition: all 0.7s;
}

.desktop_index{
    display: none;
}

/* Main Area */
body {
    margin: 0px;
    padding: 0px;
}

main a{
    text-decoration: none;
}

main a div{
    width: 90%;
    height: 12rem;
    background-color: #fff;
    border: 0.1rem #000 solid;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s;
}

main a div p{
    margin: 0px;
    color: #000;
    transition: all 0.3s;
}

.block_logo{
    font-size: 3rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}


/* Footer Area */
footer{
    margin-top: 3rem;
    padding-top: 0.7rem;
    text-align: center;
    background-color: #000000;
    width: 100%;
    height: 4rem;
    border-top: 0.5rem #2e2e2e solid;
}

footer p{
    color: #FFF;
    font-size: 1.5rem;
    margin: 0px;
}


/* ---- If the Header_Button is pressed ---- */
header.pressed{
    height: 22rem;
}

.header_headline_pressed{
    background-color: rgb(247, 178, 51);
}

.pressed_header_blocks{
    margin-top: 2rem;
    width: 80%;
    height: 3rem;
}

main a div.pressed_div{
    display: none;
}

.footer_pressed{
    margin-top: 0px;
}

/* !--- BREAKPOINT FOR LAPTOP --! */

@media only screen and (min-width: 992px) {
    header{
        display: flex;
    }

    .header_headline{
        display: none;
    }

    .desktop_index{
        display: inline-block;
    }

    .header_blocks_default{
        height: 2.8rem;
        width: 15%;
        margin-top: 0px;
    }

    .header_blocks_default:hover{
        cursor: pointer;
        background-color: rgb(201, 201, 12);
    }

    .position_website{
        background-color: rgb(216, 149, 25);
    }

}

