* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #f0f0f0;
}

/* It's Mobil-First, so i started with the smaller screens */

/* --- Header Area --- */
header{
    background-color: #6ed7f3;
    width: 100%;
    height: 4rem;
    border-bottom: 0.3rem #000 solid;
    padding-top: 0.3rem;
    transition: all 0.8s;
}

.header_headline{
    height: 3rem;
    width: 80%;
    background-color: #0088f6;
    border: 0.1rem #FFF solid;
    text-align: center;
    padding-top: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.8s;
}

.header_blocks_default{
    height: 0px;
    width: 0%;
    background-color: #0088f6;
    border: 0.1rem #FFF solid;
    text-align: center;
    padding-top: 0.3rem;
    margin-top: -8rem;
    transition: all 0.7s;
}

.header_blocks_default p, .header_headline p{
    margin: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
}

.desktop_index{
    display: none;
}

.login_state{
    padding-top: 0.6rem;
    background-color: rgb(172, 12, 12);
}

/* --- Main Area --- */
body {
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

.main_container{
    transition: all 0.8s;
}

.quest_create{
    background-color: #066f8b;
    color: #FFF;
}

.quest_answer{
    background-color: #10a2f2;
    color: #FFF;
}

.main_blocks{
    height: 12rem;
    border: 0.1rem #000 solid;
    margin-top: 2rem;
    text-align: center;
    padding-top: 5%;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s;
}

/* > Selection_Area < */
.quest_selection_list {
    padding: 0;
    text-align: center;
    position: relative;
    bottom: -60rem;
    z-index: 2;
    width: 0px;
    height: 0px;
    transition: all 0.5s;
}

.selection_active{
    bottom: 0px;
    width: 100%;
    margin-top: 2rem;
}

.quest_selection_list li {
    height: 6.5rem;
    background-color: #3ab43a;
    border: 0.1rem #000 solid;
    color: #FFF;
    list-style: none;
    padding-top: 0.5rem;
    margin-bottom: 2rem;
    transition: all 0.3s;
    font-size: 3rem;
}

.quest_selection_list li:nth-child(2){
    background-color: #b66e00;
}

.quest_selection_list li:nth-child(3){
    background-color: #066f8b;
}

.quest_selection_list li:nth-child(4){
    background-color: #bf955a;
}

.quest_selection_list li:nth-child(5){
    background-color: #88c7e5;
}

/* .form_create_button, .form_login_button{
    display: none;
    margin: 2rem auto 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    width: 60%;
    height: 2.5rem;
    background-color: #00adff;
    color: #FFF;
    border-radius: 0.5rem;
    transition: all 0.3s;
} */

/* --- Footer Area --- */
footer{
    height: 4rem;
    width: 100%;
    background-color: #000000;
    margin-top: 3rem;
    padding-top: 0.7rem;
    text-align: center;
    border-top: 0.5rem #2e2e2e solid;
    transition: all 0.8s;
}

footer p{
    color: #FFF;
    font-size: 1.5rem;
    margin: 0px;
}

/* ---- If the Header_Button is pressed ---- */
header.pressed{
    height: 26rem;
}

.header_headline_pressed{
    background-color: rgb(247, 178, 51);
}

.pressed_header_blocks{
    height: 3rem;
    width: 80%;
    margin-top: 2rem;
    margin: 2rem auto 0px;
}

.pressed_blurry_effect{
    filter: blur(1rem);
}