* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #f0f0f0;
}

/* It's Mobil-First, so i started with the smaller screens */

/* --- Header Area --- */
header{
    background-color: #6ed7f3;
    width: 100%;
    height: 4rem;
    border-bottom: 0.3rem #000 solid;
    padding-top: 0.3rem;
    transition: all 0.8s;
}

.header_headline{
    height: 3rem;
    width: 80%;
    background-color: #0088f6;
    border: 0.1rem #FFF solid;
    text-align: center;
    padding-top: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.8s;
}

.header_blocks_default{
    height: 0px;
    width: 0%;
    background-color: #0088f6;
    border: 0.1rem #FFF solid;
    text-align: center;
    padding-top: 0.3rem;
    margin-top: -8rem;
    transition: all 0.7s;
}

.header_blocks_default p, .header_headline p{
    margin: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
}

.desktop_index{
    display: none;
}

.login_state{
    padding-top: 0.6rem;
    background-color: rgb(172, 12, 12);
}

/* ---- If the Header_Button is pressed ---- */
header.pressed{
    height: 26rem;
}

.header_headline_pressed{
    background-color: rgb(247, 178, 51);
}

.pressed_header_blocks{
    height: 3rem;
    width: 80%;
    margin-top: 2rem;
    margin: 2rem auto 0px;
}

.pressed_blurry_effect{
    filter: blur(1rem);
}

/* --- Main Area --- */
body {
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: #FFF;
}

/* --- Question SELECTION / CREATE SITE --- */
.quest_create{
    background-color: #066f8b;
    color: #FFF;
}

.quest_answer{
    background-color: #10a2f2;
    color: #FFF;
}

.main_blocks{
    height: 12rem;
    border: 0.1rem #000 solid;
    margin-top: 2rem;
    text-align: center;
    padding-top: 5%;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s;
}

/* > user_own_quiz_input Area < */

.user_input_create_input{
    background-color: #066f8b;
    border: 0.2rem solid #000;
    text-align: center;
    font-weight: bold;
    position: relative;
    bottom: -60rem;
    width: 0px;
    height: 0px;
    transition: all 0.5s;
}

h1{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #FFF;
}

label{
    font-size: 1.2rem;
    color: #FFF
}

#categorySelect{
    text-transform: uppercase;
    margin-bottom: 2rem;
    height: 2rem;
    width: 6rem;
    text-align: center;
    font-weight: bold;
}

#questionInput{
    height: 5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    border: 0.1rem solid #000;
}

.answer-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20%;
    margin-bottom: 20px;
}

.answer-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 25rem;
}

.answer-input {
    flex: 0.7;
    padding: 5px;
    height: 5rem;
    font-size: 1.1rem;
    border: 0.1rem solid #000;
}

.checkbox {
    width: 2rem;
    height: 3rem;
}

button{
    margin-left: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    width: 10rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: 0.2rem solid #000;
    border-radius: 10%;
}

button a:visited{
    color: #000
}


/* > Selection_Area < */
.quest_selection_list {
    padding: 0;
    text-align: center;
    position: relative;
    bottom: -60rem;
    width: 0px;
    height: 0px;
    transition: all 0.5s;
}

.selection_active{
    bottom: 0px;
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.quest_selection_list li {
    height: 6.5rem;
    background-color: #3ab43a;
    border: 0.1rem #000 solid;
    color: #FFF;
    list-style: none;
    padding-top: 0.5rem;
    margin-bottom: 2rem;
    transition: all 0.3s;
    font-size: 3rem;
    font-weight: bold;
}

.quest_selection_list li:nth-child(2){
    background-color: #b66e00;
}

.quest_selection_list li:nth-child(3){
    background-color: #066f8b;
}

.quest_selection_list li:nth-child(4){
    background-color: #bf955a;
}

.quest_selection_list li:nth-child(5){
    background-color: #88c7e5;
}


/* --- Question GAME SITE --- */

#questionCounter {
    font-weight: bold;
    margin-bottom: 20px;
}

#questionText {
    background-color: #F4A460;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: black;
}

.answer-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer-box_game {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    padding: 15px;
    cursor: pointer;
}

.answer-box.selected {
    filter: brightness(1.2); /* Aufhellung bei Auswahl */
}

.answer-checkbox {
    width: 20px;
    height: 20px;
}

#nextButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#nextButton:hover {
    background-color: #0056b3;
}



/* --- Footer Area --- */
/* footer{
    height: 4rem;
    width: 100%;
    background-color: #000000;
    margin-top: 3rem;
    padding-top: 0.7rem;
    text-align: center;
    border-top: 0.5rem #2e2e2e solid;
    transition: all 0.8s;
}

footer p{
    color: #FFF;
    font-size: 1.5rem;
    margin: 0px;
} */

