* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #f0f0f0;
}

/* It's Mobil-First, so i started with the smaller screens */

/* --- Header Area --- */
header{
    background-color: #6ed7f3;
    width: 100%;
    height: 4rem;
    border-bottom: 0.3rem #000 solid;
    padding-top: 0.3rem;
    transition: all 0.8s;
}

.header_headline{
    height: 3rem;
    width: 80%;
    background-color: #0088f6;
    border: 0.1rem #FFF solid;
    text-align: center;
    padding-top: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.8s;
}

.header_blocks_default{
    height: 0px;
    width: 0%;
    background-color: #0088f6;
    border: 0.1rem #FFF solid;
    text-align: center;
    padding-top: 0.3rem;
    margin-top: -8rem;
    transition: all 0.7s;
}

.header_blocks_default p, .header_headline p{
    margin: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
}

.desktop_index{
    display: none;
}

/* ---- Login_State Box and Functions ---- */

.login_state{
    padding-top: 0.6rem;
    background-color: rgb(172, 12, 12);
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5rem;
}

.login_state_loggedIn {
    background-color: #0cb11a;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5rem;
}

.login_state_clicked{
    background-color: rgb(109, 167, 184);
    height: 0px;
    width: 0px;
    position: relative;
    bottom: 16rem;
    left: 50rem;
    transition: all 0.7s;
}

.login_state_clicked_active{
    height: 12rem;
    width: 80%;
    border: 0.1rem solid #000;
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem auto 0px;
    bottom: 16rem;
    left: 0px;
}

.login_state_clicked_active p:nth-child(1){
    background-color: rgb(221, 75, 75);
    border: 0.1rem solid #000;
    padding: 0.4rem;
}

/* ---- If the Header_Button is pressed ---- */
header.pressed{
    height: 26rem;
}

.header_headline_pressed{
    background-color: rgb(247, 178, 51);
}

.pressed_header_blocks{
    height: 3rem;
    width: 80%;
    margin-top: 2rem;
    margin: 2rem auto 0px;
}

.pressed_blurry_effect{
    filter: blur(1rem);
}

/* --- Main Area --- */
body {
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

/* > Search_box < */

.search div{
    position: relative;
    top: 2rem;
    width: 100%;
    height: 9rem;
    background-color: #066f8b;
}

.search p{
    display: inline;
    font-size: 3rem;
}

.search input{
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    height: 3.5rem;
    width: 18rem;
    border: 0.1rem solid #000;
    border-radius: 15px;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.search button{
    display: block;
    position: absolute;
    margin-top: 1.5rem;
    height: 2.5rem;
    width: 12rem;
    right: 4rem;
    color: #FFF;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #479be0;
    border-radius: 15px;
}


/* > Big_box < */

.big_box div{
    margin-top: 5rem;
    width: 100%;
    height: 20rem;
    background-color: #0fb6e7;
    border: 0.1rem solid #000;
    color: #FFF;
    font-weight: bold;
    padding-left: 1rem;
    padding-top: 1rem;
}

.big_box span{
    top: 0.3rem;
    font-size: 4rem;
}

.big_ceclius{
    margin: 0px;
    font-size: 3rem;
}

.big_wetter_text{
    margin: 0.5rem 0px;
    font-size: 2.5rem;
    display: inline-block;
    border-bottom: 0.1rem solid #FFF;
}

.big_city{
    margin-top: 2rem;
    margin-bottom: 0px;
    font-size: 1.3rem;
}

.big_datum{
    margin-top: 0px;
    font-size: 1.3rem;
}






/* --- Footer Area --- */
/* footer{

    height: 4rem;
    width: 100%;
    background-color: #000000;
    margin-top: 3rem;
    padding-top: 0.7rem;
    text-align: center;
    border-top: 0.5rem #2e2e2e solid;
}

footer p{
    color: #FFF;
    font-size: 1.5rem;
    margin: 0px;
} */

/* !--- BREAKPOINT FOR MEDIUM_SIZE --! */

@media (min-width: 768px) {
    .flex_container{
        display: flex;
        justify-content: center;
    }

    .header_headline{
        display: none;
    }

    .desktop_index{
        display: block;
        padding-top: 0.5rem;
    }

    .header_blocks_default{
        height: 2.8rem;
        width: 12rem;
        margin-top: 0px;
        margin-left: 1rem;
    }

    .header_blocks_default:hover{
        height: 3rem;
        width: 13rem;
        cursor: pointer;
        background-color: rgb(0, 0, 0);
    }

    .position_website{
        background-color: rgb(0, 0, 0);
    }

}

/* !--- BREAKPOINT FOR BIGGER_SIZE --! */

@media (min-width: 1920px){

    .login_state{
        position: absolute;
        right: 3rem;
    }

}