* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #f0f0f0;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* MOBIL_FIRST VERSION */

/* --- Header Area --- */
header{
    background-color: #6ed7f3;
    width: 100%;
    height: 4rem;
    border-bottom: 0.3rem #000 solid;
    padding-top: 0.3rem;
    transition: all 0.8s;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header_headline{
    height: 3rem;
    width: 80%;
    background-color: #0088f6;
    border: 0.1rem #FFF solid;
    text-align: center;
    padding-top: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.8s;
}

.header_blocks_default{
    height: 0px;
    width: 0%;
    background-color: #0088f6;
    border: 0.1rem #FFF solid;
    text-align: center;
    padding-top: 0.3rem;
    margin-top: -8rem;
    transition: all 0.7s;
}

.header_blocks_default p, .header_headline p{
    margin: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
}

.position_website{
    background-color: rgb(0, 0, 0);
}

.desktop_index{
    display: none;
}

/* ---- Login_State Box and Functions ---- */

.login_state{
    padding-top: 0.6rem;
    background-color: rgb(172, 12, 12);
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5rem;
}

.login_state_loggedIn {
    background-color: #0cb11a;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5rem;
}

.login_state_clicked{
    background-color: rgb(109, 167, 184);
    height: 0px;
    width: 0px;
    position: relative;
    bottom: 16rem;
    left: 50rem;
    transition: all 0.7s;
}

.login_state_clicked_active{
    height: 12rem;
    width: 80%;
    border: 0.1rem solid #000;
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem auto 0px;
    bottom: 16rem;
    left: 0px;
}

.login_state_clicked_active p:nth-child(1){
    background-color: rgb(221, 75, 75);
    border: 0.1rem solid #000;
    padding: 0.4rem;
}

/* ---- If the Header_Button is pressed ---- */
header.pressed{
    height: 26rem;
}

.header_headline_pressed{
    background-color: rgb(247, 178, 51);
}

.pressed_header_blocks{
    height: 3rem;
    width: 80%;
    margin-top: 2rem;
    margin: 2rem auto 0px;
}

.pressed_blurry_effect{
    filter: blur(1rem);
}

/* > Login_Checker / Site Blocker < */
.login_checker{
    color: #FFF;
    background-color: #066f8b;
    border: 0.2rem solid #000;
    text-align: center;
    font-weight: bold;
    position: relative;
    left: -60rem;
    width: 0px;
    height: 0px;
    transition: all 0.5s;
    opacity: 0;
    text-transform: uppercase;
}

.login_checker div:nth-of-type(1) {
    background-color: #0fb6e7;
}

.login_checker div:nth-of-type(2) {
    background-color: #10a2f2; 
}

.login_checker div{
    border: 0.1rem solid #000;
    height: 8rem;
    width: 90%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
}

.login_checker p{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0px;
}

.login_checker h1{
    font-size: 2rem;
}

.login_checker_active{
    left: 0rem;
    bottom: 20rem;
    width: 100%;
    height: 30rem;
    opacity: 1;
    z-index: 2;
}

/* --- Main Area --- */

a{
    text-decoration: none;
}

main{
    flex: 1;
}

/* > Search_box < */

.search div{
    position: relative;
    top: 2rem;
    width: 100%;
    height: 9rem;
    background-color: #066f8b;
}

.search p{
    display: inline;
    font-size: 3rem;
}

.search input{
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    height: 3.5rem;
    width: 18rem;
    border: 0.1rem solid #000;
    border-radius: 15px;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.search button{
    display: block;
    position: absolute;
    margin-top: 1.5rem;
    height: 2.5rem;
    width: 12rem;
    right: 4rem;
    color: #FFF;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #479be0;
    border-radius: 15px;
    transition: all 0.3s;
}


/* > Big_box < */

.big_box div{
    margin-top: 5rem;
    width: 100%;
    height: auto;
    background-color: #0fb6e7;
    border: 0.1rem solid #000;
    color: #FFF;
    font-weight: bold;
    padding-left: 1rem;
    padding-top: 1rem;
}

.big_box span{
    top: 0.3rem;
    font-size: 4rem;
}

.big_ceclius{
    margin: 0px;
    font-size: 3rem;
}

.big_wetter_text{
    margin: 0.5rem 0px;
    font-size: 2.5rem;
}

.big_city{
    display: inline-block;
    border-top: 0.1rem solid #FFF;
    margin-top: 2rem;
    margin-bottom: 0px;
    font-size: 1.3rem;
}

.big_datum{
    margin-top: 0px;
    font-size: 1.3rem;
}

/* > Small_box < */

.testklasse{
    width: 100%;
    height: 3rem;
    background-color: #0caad6;
    border: 0.1rem solid #000;
    margin: 1rem auto;
    color: #FFF;
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.testklasse span{
    font-size: 2rem;
}

/* --- Footer Area --- */
footer{
    height: auto;
    background-color: #000000;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
    border-top: 0.5rem #2e2e2e solid;
}

footer p{
    color: #FFF;
    font-size: 1.5rem;
}


/* !--- BREAKPOINT FOR TABLETT ---! */

 @media (min-width: 576px){

    html,body{
        display: flex;
        flex-direction: column;
    }

        /* Login_State_Button */
    .login_state_clicked_active{
            width: 50%;
            bottom: 0;
            top: -16rem;
            z-index: 2;
    }
    
    .login_state_clicked_active p{
            transition: all 0.3s;
    }
    
    .login_checker{
            top: -34rem;
    }

        /*----------------*/

    .search p{
        font-size: 3.5rem;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
    
    .search input{
        left: 8rem;
        width: 20rem;
        font-size: 2rem;
    }
    
    .search button{
        position: absolute;
        bottom: 1.5rem;
        left: 12rem;
    }

 }

/* !--- BREAKPOINT FOR SMALL-LAPTOP ---! */

@media (min-width: 768px) {

    .header_headline:hover{
        cursor: pointer;
        background-color: #000;
    }

    .header_blocks_default:hover{
        cursor: pointer;
        background-color: rgb(0, 0, 0);
    }

    .login_state_clicked_active p{
        transition: all 0.3s;
    }

    .login_state_clicked_active p:hover{
        cursor: pointer;
        background-color: #000;
    }

    /*----------------*/

    .main_container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .search p{
        font-size: 3.5rem;
        left: 5rem;
    }
    
    .search input{
        left: 12rem;
        width: 20rem;
        font-size: 2rem;
    }
    
    .search button{
        bottom: 1.5rem;
        left: 16rem;
    }

    
    .search button:hover{
        cursor: pointer;
        background-color: #000;
    }

}

/* !--- BREAKPOINT FOR NORM-LAPTOP ---! */
@media (min-width: 992px){

    .flex_container{
        display: flex;
        justify-content: left;
    }

    .header_blocks_default{
        height: 2.8rem;
        width: 12rem;
        margin-top: 0px;
        margin-left: 1rem;
    }

    .header_blocks_default:hover{
        cursor: pointer;
        background-color: rgb(0, 0, 0);
    }

    .header_headline{
        display: none;
    }

    .desktop_index{
        display: block;
        padding-top: 0.5rem;
    }

    .header_blocks_default{
        width: 11rem;
    }

    .header_blocks_default p{
        font-size: 1.4rem;
    }

    .login_state{
        position: absolute;
        right: 2rem;
        width: 14%;
        font-size: 1rem;
    }

    .login_state:hover{
        width: 16%;
    }

    .login_state_clicked{
        left: -20rem;
    }

    .login_state_clicked_active {
        top: -4rem;
        left: 20rem;
        width: 25%;
    }


    /* -- MAIN -- */
    
    .main_container{
        position: relative;
        top: 10rem;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }

    .search div, .big_box div{
        width: 17rem;
    }

    .big_box{
        position: relative;
        top: -4rem;
    }

    .small_box_container{
        width: 20rem;
    }

    .search{
        position: relative;
        top: -1rem;
    }

    .search p{
        font-size: 2.3rem;
        top: -2rem;
        left: 0.5rem;
    }

    .search input{
        width: 12rem;
        left: 4rem;
        font-size: 1.5rem;
    }

    .search button{
        margin-top: 2rem;
        left: 3rem;
    }

}


/* !--- BREAKPOINT FOR DESKTOP ---! */
@media (min-width: 1200px){

    .header_blocks_default{
        width: 12.5rem;
    }

    .header_blocks_default:hover{
        width: 14rem;
    }

    .login_state{
        right: 3rem;
        width: 14%;
        font-size: 1.3rem;
    }

    .login_state_clicked_active{
        width: 20%;
        left: 28rem;
    }

    .login_state:hover{
        width: 16%;
    }

    .search div, .big_box div, .small_box_container{
        width: 21rem;
    }

    .search p{
        font-size: 2.7rem;
        margin-left: 0.2rem;
    }

    .search input{
        left: 5rem;
        width: 14rem;
        font-size: 2rem;
    }

    .search button{
        left: 6rem;
    }

}

/* !--- BREAKPOINT FOR BIG_DESKTOP ---! */
@media (min-width: 1680px){

    .login_state{
        font-size: 1.5rem;
        right: 3rem;
        width: 10%;
    }

    .login_state_clicked{
        left: -46rem;
    }

    .login_state_clicked_active {
        width: 15%;
        left: 46rem;
    }

    /*----------------*/

    .search div, .big_box div, .small_box_container{
        width: 25rem;
        margin-top: 0px;
    }

    .big_box{ 
        top: -1rem;
    }

    .search p{
        font-size: 3rem;
        margin-left: 1rem;
    }

    .search input{
        left: 8rem;
    }

    .search button{
        left: 9rem;
    }

}