* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: rgb(46, 46, 46);
}

/* --> DESKTOP BEREICH <-- */

.bg_top {
    height: 4.5rem;
    width: 100%;
    background-color: rgb(37, 37, 37);
    border-bottom: 1px solid #000;
}

.bg_top li {
    list-style-type: none;
}

/* Die Seitenbuttons im Navibarbereich */
.bg_top button {
    background-color: rgb(148, 96, 0);
    color: antiquewhite;
    border: 1px solid #FFF;
    border-radius: 5%;
    width: 120px;
    height: 30px;
    margin-left: 10px;
    transition: background-color 0.3s, font-weight 0.3s;
}

.bg_top ul{
    margin-left: 30%;
    margin-right: auto;
}

.bg_top button.momentan {
    background-color: #bb0000;
}

.bg_top ul li button a{
    list-style-type: none;
    margin-left: 0.5rem;
    text-decoration: none;
}

.bg_top ul li button a:visited {
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0px;
    padding: 0px;
}

.h3_oben {
    color: #FFF;
    position: relative;
    left: 25px;
}

/* Das Login / Create Form im Mainbereich */

#create label {
    color: antiquewhite;
}

#name {
    border: 1.5px solid #000;
    margin-bottom: 10px;
    height: 25px;
    width: 182px;
}

#passwort {
    height: 25px;
    text-align: right;
    border: 1px solid #000;
    font-weight: bold;
}

/* Der PW-Generator */
#generator {
    position: absolute;
    width: 87px;
    height: 25px;
    border-right: 2px solid #000;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    background-color: orange;
    transition: background-color 0.3s, font-weight 0.3s, text-shadow 0.3s;
}

/* Der neu erstelle Auslogknopf in JS wegen dem trainsition angesprochen */

.auslog_knopf_css {
    transition: width 0.2s, font-size 0.2s, color 0.2s, background-color 0.2s;
}

/* Die responsive Funktion sobald Desktopgröße erreicht wurde */
@media screen and (min-width: 600px) {

/* Der Erstellbutton */
#erstellen {
    position: absolute;
    margin-bottom: 5px;
    margin-top: 15px;
    width: 150px;
    height: 20px;
    left: 15px;
    background-color: #181818;
    color: #FFF;
    transition: background-color 0.3s, font-weight 0.3s, width 0.3s, height 0.3s;
}

#create {
    position: relative;
    border-bottom: 1px solid #000;
    margin-left: 50%;
    margin-right: 50%;
} 

#erstellen:hover {
    cursor: pointer;
    background-color: #5e0606;
    font-weight: bold;
    width: 180px;
    height: 30px;
}


#generator:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: red;
    color: #FFF;
    text-shadow: 0 0 0.5px rgb(255, 255, 255);
}

.bg_top button:hover {
    background-color: #000;
    cursor: pointer;
    font-weight: bold;
}

.bg_top ul {
    display: flex;
    position: absolute;
    top: 0.5rem;
}

/* BG Switcher */

.bg_switcher{
    border-radius: 30%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 160px;
    height: 30px;
}

}

